//localhost/npm/:_password="dGVzdFA0c3N3MHJk"
//localhost/npm/:username=testUser
//localhost/npm/:email=testUser@something.com
//localhost/npm/:always-auth=true
//localhost:9876/npm/:_password="dGVzdFA0c3N3MHJk"
//localhost:9876/npm/:username=testUser
//localhost:9876/npm/:email=testUser@something.com
//localhost:9876/npm/:always-auth=true

