# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
.*ignore text eol=lf

# Declare files that will always have CRLF line endings on checkout.
test/data/bowerPkgExample/.bowerrc text eol=crlf
test/data/bowerPkgExample/bower.json  text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.upack binary