
/.jsdoc.json
/.travis.yml
/.gitattributes
/.editorconfig
/.istanbul.yml
*.iml
/.eslintrc.js
/.eslintignore
/src
tslint.json
tsconfig.json
typings.json

/test/
/docs/
/.idea/
/.testResult/
/node_modules/
/typings/
!/lib/
/lib/test
coverage
.nyc_output
yarn.lock
