language: node_js

node_js:
  - "4"
  - "5"
  - "6"
  - "7"
  - "8"

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install p7zip-full

install:
  - node --version
  - npm --version
  - npm install

after_success:
  - npm run coveralls

os:
  - linux
